name: Integration
on:
  push:
    branches:
      - 'main'

jobs:
  Integration:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: pwsh
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install
      run: .\packages\build\install.ps1
    - name: Build Test
      run: .\packages\build\build_test.ps1
    - name: Build, Test, Lint & Publish
      run: Write-Output "Skipped"
      #run: .\packages\build\build_test.ps1
    - name: Finish
      run: Write-Output "Done"