name: Integration
on:
  push:
    branches-ignore:
      - 'main'

jobs:
  Integration:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install
        run: .\packages\build\install.ps1
      - name: Build
        run: .\packages\build\build.ps1
        env:
          USER: ${{secrets.USER}}
          CODESIGN: ${{secrets.CODESIGN}}
      - name: Test
        run: .\packages\build\test.ps1
      - name: Document
        run: .\packages\build\document.ps1
      - name: Commit
        run: |
          #.\packages\powershell\commit.ps1
        env:
          USER: ${{secrets.USER}}
          PUSHTOKEN: ${{secrets.PUSHTOKEN}}
      - name: Finish
        run: Write-Output "Done"
