name: Release
on:
  push:
    branches:
      - 'main'

jobs:
  Release:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install
        run: .\packages\build\install.ps1
      - name: Build
        run: .\packages\build\build.ps1
        env:
          USER: ${{secrets.USER}}
          CODESIGN: ${{secrets.CODESIGN}}
      - name: Test
        run: .\packages\build\test.ps1
      - name: Document
        run: .\packages\build\document.ps1
      - name: Commit to main & release
        run: .\packages\build\commitandrelease.ps1
        env:
          USER: ${{secrets.USER}}
          PUSHTOKEN: ${{secrets.PUSHTOKEN}}
      - name: Publish
        run: |
          #.\packages\build\publish.ps1
        env:
          PUSHTOKEN: ${{secrets.PUSHTOKEN}}
          USER: ${{secrets.USER}}
          NuGetApiKey: ${{secrets.NuGetApiKey}}
      - name: Finish
        run: Write-Output "Done"